* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-image: url('barberia6.jpg'); /* Asegúrate de que esta ruta es correcta */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10px;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: rgb(153, 117, 34);
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: white;
}

.header .btn button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 243, 243);
    transform: scale(1.1);
    text-decoration: none;
}

.nav-links a {
    margin-right: 25px;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambia a flex-start para alinear desde la parte superior */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    margin: 0;
}
.header {
    position: relative; /* Cambiado a relative */
    width: 97%;
    background-color: rgba(0, 0, 0, 0.635); /* Color de fondo del header */
    padding: 20px 0; /* Espaciado interno */
    z-index: 10; /* Asegura que el header esté por encima */
}
.content {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
    text-align: center;
    max-width: 800px; /* Controla el ancho máximo del texto */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados opcional */
    margin-top: 20px; /* Espaciado superior para separar del header */
}
table {
    border-collapse: collapse; /* Elimina el espacio entre celdas */
    margin-top: 20px; /* Espacio superior para la tabla */
    width: 100%; /* Ancho de la tabla */
}
td {
    border: 2px solid rgb(129, 129, 129); /* Borde de las celdas */
    text-align: center; /* Centra el contenido de las celdas */
    padding: 10px; /* Espaciado interno */
}
img {
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
}

