<!DOCTYPE html>
<html lang="es">
</head>
<body>
    <h2>Recuperar Contraseña</h2>

    <form action="/recuperar-password/reset" method="post">
        <input type="hidden" name="token" th:value="${token}">
        
        <label for="nuevaPassword">Nueva contraseña:</label>
        <input type="password" id="nuevaPassword" name="nuevaPassword" maxlength="10" required>
        
        <!-- Botón para alternar entre mostrar y ocultar la contraseña -->
        <button type="button" onclick="togglePassword()">Mostrar/Ocultar contraseña</button>
        
        <button type="submit">Restablecer contraseña</button>
    </form>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById('nuevaPassword');
            if (passwordField.type === "password") {
                passwordField.type = "text";  // Cambiar a 'text' para mostrar la contraseña
            } else {
                passwordField.type = "password";  // Cambiar a 'password' para ocultar la contraseña
            }
        }
    </script>
</body>
</html>